<div class="panel panel-default">
    <div class="panel-heading">
        <h3>In the Servers Component</h3>
    </div>

    <div class="panel-body">
        <div class="row vertical-space">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputText" class="col-xs-2 control-label">Server Name:</label>
                    <div class="col-xs-10">
                        <input type="email" class="form-control" id="inputText" [(ngModel)]="serverName">
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="button" [disabled]="!allowNewServer"
            (click)="onCreateServer()">Add Server</button>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <app-server></app-server>
                <app-server></app-server>
                <p>{{ serverCreationStatus }}</p>
            </div>
        </div>
    </div>
</div>