<div class="container">
  <div class="page-header">
    <h1>{{ title }} <small>My very first angular app</small></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Components Assignment</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <app-warning-alert></app-warning-alert>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <app-success-alert></app-success-alert>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>In the AppComponent!</h2>

      <app-servers></app-servers>
    </div>
  </div>
</div>